TZ=UTC
PORT=3333
HOST=localhost
NODE_ENV=development

LOG_LEVEL=info
APP_KEY=UwoVCVFKNz4d_klyDIASOZrnIO8JcFuO
APP_URL=http://${HOST}:${PORT}
APP_VERSION=1

SESSION_DRIVER=cookie

DB_HOST=localhost
DB_PORT=5432
DB_USER=adonis
DB_PASSWORD=secret
DB_DATABASE=le_cinema
